
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    background:#1f293a;
}
.container{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container span{
    position: absolute;
    left: 0;
    width: 32px;
    height:6px;
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.3) rotate(calc(var(--i)*(360deg / 50)));
    animation:animateBlink 3s linear infinite;
    animation-delay:calc(var(--i)*(3s/50));

}
@keyframes animateBlink{
    0%
    {
        background: aqua;
    }
    25%
    {
        background: #2c4766;
    }
}
.login-box
{
    position:relative;
    width:400px;
    
}
.login-box form{
    width: 100%;
    padding:0 50px;
}
h2{
    font-size:2em;
    color:aqua;
    text-align: center;
}
.input-box{
    position: relative;
    margin:25px 0 ;
}
.input-box input{
    width: 100%;
    height: 50px;
    background:transparent;
    border: 2px solid #2c4766;
    outline:none;
    border-radius:40px;
    font-size: 1em;
    color:aliceblue;
    transition:.5s ease;;
    padding:0 20px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    border-color:aqua;
   
}
.input-box label{
    position:absolute;
    top:50%;
    left:20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition:.5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
   top: 1px;
   font-size: .8em;
   background:#1f293a ;
   padding:0 6px;
   color:aqua;
}

.forget-pass{
    margin: -15px 0 10px;
    text-align: center;
}
.forget-pass a{
    font-size: .85em;
    color: white;
    text-decoration: none;

}
.btn{
    width: 100%;
    height: 45px;
    background:aqua;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size:1em;
    color:#1f293a;
    font-weight:600; 
}
.btn:hover {
    background-color: #0056b3;
}
.login-link{
    margin:20px 0 10px;
    text-align: center;
}
.login-link a{
    font-size:1em;
    color: aqua;
    text-decoration: none;
    font-weight:600;
}
.login-link a:hover{
    text-decoration: underline;
}
p {
    color: #fff; /* Set text color to white */
}
